# Mach_R Cargo Build Configuration

[build]
target = "x86_64-unknown-none"

[target.x86_64-unknown-none]
rustflags = [
    "-C", "link-arg=-T/Users/eirikr/1_Workspace/Synthesis/linker-x86_64.ld",
    "-C", "link-arg=--nmagic",
    "-C", "relocation-model=static",
]

[target.aarch64-unknown-none]
rustflags = [
    "-C", "link-arg=-T linker-aarch64.ld",
    "-C", "link-arg=-nostartfiles",
    "-C", "link-arg=--nmagic",
    "-C", "relocation-model=static",
]
